<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<h2>vulnerabilidad sql</h2>

<form action="/search-user" method="post">
    <label for="username">Usuario:</label>
    <input type="text" name="username" required><br><br>

    <label for="password">Contraseña:</label>
    <input type="password" name="password" required><br><br>

    <!-- reCAPTCHA widget -->
    <button type="submit">Iniciar sesión</button>
</form>

<div th:if="${error}">
    <p style="color: red;">${error}</p>
</div>
</body>
</html>
